h1{
    color:aliceblue;
}
body {
    background-image: url("../img/sky.png") ;
    background-size: 100% 100%;
    color: slategrey;
    font-size: 25px;
    font-family: Cursive;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#message-1{
    background: rgba(255, 255, 255,0.4);
    color: slategray;
    width:max-content;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 2%;
    opacity: 50%;
    font-size: 18px;
    color: darkslategrey;
    margin-right: 35px;
    text-decoration: none;
    font-style: bold;


}

.portrait {
    width: 250px;
}

input{
    font-family: Cursive;
    font-size: 16px;
    color: #555555;
    opacity: 80%;
    border: 1px solid #888888;
    padding: 8px;
    border-radius: 4px;
}

button{
    font-size: 16px;
    opacity: 70%;
    font-family: Cursive;
    cursor: pointer;
    border: 1px solid #888888;
    background: #eeeeee;
    color: #555555;
    padding: 8px;
    border-radius: 4px;
}
